* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.StartNow__container {
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.StartNow__text h5 {
  font-weight: bolder;
  margin-bottom: 1px;
}

.StartNow__text {}


.StartNow__button-width {
  width: 9rem;
}
